<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>AIRE - {{ map.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    {% if env == "dev" %}
    <link rel="stylesheet" type="text/css" href="/lib/aire/style/print.css"/>
    {% else %}
    <link rel="stylesheet" type="text/css" href="/x/aire/style/print.css"/>
    {% endif %}
    <script type="text/javascript">
      var djConfig = { locale: '{{ locale }}' };
    </script>
    <script src="/x/dojo/dojo.js" type="text/javascript"></script>
    {% if env == "dev" %}
    <script src="/lib/aire/start/print.js" type="text/javascript"></script>
    {% else %}
    <script src="/x/print.js" type="text/javascript"></script>
    {% endif %}
  </head>
  <body class="tundra print" lang="{{ locale }}"><div id="main">
    <h1 class="m">Population, 2007</h1>
    <div id="map" class="ploomapMap"
      ><div id="legend" dojoType="geonef.ploomap.legend.Container"
            widgetClass="{{ legend.widgetClass }}"
            widgetValue="{{ legend.value | json_encode }}"
            resolution="{{ resolution }}"></div
      ><img alt="Carte" src="{{mapUrl}}" /></div>
    <div id="source-copy">
      <div id="scale" style="width: 100px;">500 km</div>
      <p id="source">{{ map.source }}</p>
      <p id="copyright">{{ map.copyright }}</p>
    </div>
    <textarea></textarea>

    <div id="notice">
      {% autoescape false %}
      {{ "print.warning.paragraph"|trans }}
      <ul>
        <li>{{ "print.warning.firefox"|trans }}</li>
        <li>{{ "print.warning.ie"|trans }}</li>
      </ul>
      {% endautoescape %}
    </div>
  </div></body>
</html>
