[submodule "vendor/cartapatate"]
	path = vendor/cartapatate
	url = git.geonef.fr:/var/lib/git/package/cartapatate.git
[submodule "vendor/doctrine-common"]
	path = vendor/doctrine-common
	url = git.geonef.fr:/var/lib/git/github/doctrine-common.git
[submodule "vendor/doctrine-mongodb"]
	path = vendor/doctrine-mongodb
	url = git.geonef.fr:/var/lib/git/github/doctrine-mongodb.git
[submodule "vendor/doctrine-mongodb-odm"]
	path = vendor/doctrine-mongodb-odm
	url = git.geonef.fr:/var/lib/git/github/doctrine-mongodb-odm.git
[submodule "vendor/bundles/Symfony/Bundle/DoctrineMongoDBBundle"]
	path = vendor/bundles/Symfony/Bundle/DoctrineMongoDBBundle
	url = git.geonef.fr:/var/lib/git/github/doctrine-mongodb-bundle.git
[submodule "vendor/symfony"]
	path = vendor/symfony
	url = git.geonef.fr:/var/lib/git/github/symfony.git
[submodule "vendor/twig"]
	path = vendor/twig
	url = git.geonef.fr:/var/lib/git/github/twig.git
[submodule "vendor/zig"]
	path = vendor/zig
	url = git.geonef.fr:/var/lib/git/package/zig.git
[submodule "vendor/jig"]
	path = vendor/jig
	url = git.geonef.fr:/var/lib/git/package/jig.git
[submodule "vendor/ploomap-server"]
	path = vendor/ploomap-server
	url = git.geonef.fr:/var/lib/git/package/ploomap-server.git
[submodule "vendor/monolog"]
	path = vendor/monolog
	url = git.geonef.fr:/var/lib/git/github/monolog.git
[submodule "vendor/ploomap-client"]
	path = vendor/ploomap-client
	url = git.geonef.fr:/var/lib/git/package/ploomap-client.git
[submodule "vendor/bundles/Sensio/Bundle/FrameworkExtraBundle"]
	path = vendor/bundles/Sensio/Bundle/FrameworkExtraBundle
	url = framework-extra-bundle.git
[submodule "vendor/bundles/Funkiton/InjectorBundle"]
	path = vendor/bundles/Funkiton/InjectorBundle
	url = funkiton-injector-bundle.git
[submodule "vendor/gedmo-doctrine-extensions"]
	path = vendor/gedmo-doctrine-extensions
	url = doctrine-extensions.git
[submodule "vendor/bundles/Stof/DoctrineExtensionsBundle"]
	path = vendor/bundles/Stof/DoctrineExtensionsBundle
	url = doctrine-extensions-bundle.git
[submodule "vendor/bundles/JMS/DiExtraBundle"]
	path = vendor/bundles/JMS/DiExtraBundle
	url = git.geonef.fr:/var/lib/git/github/jms-di-extra-bundle.git
[submodule "vendor/metadata"]
	path = vendor/metadata
	url = git.geonef.fr:/var/lib/git/github/metadata.git
