<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>AIRE - {{ collection.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    {% if env == "dev" %}
    <link rel="stylesheet" type="text/css" href="/lib/aire/style/visu.css"/>
    {% else %}
    <link rel="stylesheet" type="text/css" href="/x/aire/style/visu.css"/>
    {% endif %}
    <script src="/x/dojo/dojo.js" type="text/javascript"></script>
    {% if env == "dev" %}
    <script src="/lib/aire/start/collection.js" type="text/javascript"></script>
    {% else %}
    <script src="/x/collection.js" type="text/javascript"></script>
    {% endif %}
    <script type="text/javascript">
      window.aireCollection = {{ collection_json|raw }};
    </script>
  </head>
  <body class="tundra layoutNormal">
    <table id="screen">
      <tbody><tr>
        <td class="collections">
          <h1 class="s">Thèmes</h1>
          <div class="area">
          {% for category in categories %}
            <div dojoType="dijit.TitlePane" title="{{ category.title }}" open="{% if category.id == collection.category.uuid %}true{% else %}false{% endif %}">
              <ul>
                {% for icoll in category.collections %}
                <li>
                  {% if icoll.id == collection.uuid %}<b>{{ icoll.title }}</b>
                  {% else %}<a href="/collection/{{ icoll.id }}">{{ icoll.title }}</a>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
          <!--div dojoType="geonef.ploomap.tool.Layers" mapWidget="map"></div-->
          </div>
          <div class="commentSmall">
            {{ collection.comment }}
          </div>
          <div class="bottom" id="showComment">
            Voir le commentaire
          </div>
        </td>
        <td class="comment">
          <h1 class="s">Comment!</h1>
          <div class="area">
            {{ collection.comment }}
          </div>
          <div class="bottom" id="hideComment">
            Cacher le commentaire
          </div>
        </td>
        <td class="map">
          <h1 class="s">{{ collection.title }}</h1>
          <div dojoType="aire.Map" id="map" class="area"></div>
          <div class="bottom">
            <div id="scale"></div>
            <div id="toolbar"></div>
          </div>
        </td>
        <td class="help">
          <h1 class="s">Help!</h1>
          <div class="area">
            <iframe src="/data/help.html"></iframe>
          </div>
          <div class="bottom" id="hideHelp">
            Revenir à la carte
          </div>
        </td>
        <td class="reprs">
          <h1 class="s">Représentations</h1>
          <div class="area">
            <div dojoType="dijit.layout.AccordionContainer"
                 region="right" doLayout="true" class=""
                 style="width:220px;">
              {% for reprName, repr in maps %}
              <div dojoType="dijit.layout.ContentPane" title="Cartes {{ reprName }}">
                {% for level, map in repr %}
                <button dojoType="aire.button.ShowMap" mapWidget="map"
                        level="{{ level }}" map="{{ map.id }}"></button>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="bottom">
            Bottom!
          </div>
        </td>
      </tr></tbody>
    </table>
  </body>
</html>
