<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>AIRE</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/js/aire/css/application.css"/>
  </head>
  <body>
    <div id="main">
      <div id="themes" class="themes">
        <h1>Thèmes</h1>
        {% for category in categories %}
          <h2>{{ category.title }}</h2>
          <ul>
            {% for coll in category.collections %}
              <li>
                <a href="/collection/{{ coll.id }}">{{ coll.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
      <div id="presentation">
        <img src="/images/riate_carto.gif" alt="RIATE Carto"
             style="float:right; margin: 0 0 5px 10px;"/>
        <h1>Atlas Interactif des Régions Européennes</h1>
        <p>
          L'Atlas Interactif des Régions Européennes (AIRE) est un
          projet de l'<a href="http://www.ums-riate.fr/">UMS 2414 RIATE</a>.
        </p>
        <p>
          Au delà d'un simple outil de consultation, l'atlas permet
          d'avoir accès à de <b>multiples représentations</b> d'un même
          phénomène grâce à des méthodes d'analyses spatiales variées
          et/ou des représentations cartographiques peu courantes
          <b>(cartes de potentiels, cartes de discontinuités,
          carroyages, anamorphoses, ...)</b> selon 5 niveaux de maillage
          européen différents.
        </p>
        <p>
          <img src="/images/home_map_fr.png" alt="Carte d'accueil"/>
        </p>
        <p>
          Pour accéder à l'ensemble des représentations, cliquer
          ci-dessous sur une thématique puis sur une carte précise de
          votre choix.
        </p>
      </div>
    </div>
  </body>
</html>
