<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>AIRE</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    {% if env == "dev" %}
    <link rel="stylesheet" type="text/css" href="/lib/aire/style/home.css"/>
    {% else %}
    <link rel="stylesheet" type="text/css" href="/x/aire/style/home.css"/>
    {% endif %}
    <script type="text/javascript">
      var djConfig = { locale: '{{ locale }}' };
    </script>
    <script src="/x/dojo/dojo.js" type="text/javascript"></script>
    <script type="text/javascript">
      if (dojo.isIE) {
        window.location = '/data/warning_ie/warning_ie.html';
      }
    </script>
    {% if env == "dev" %}
    <script src="/lib/aire/start/home.js" type="text/javascript"></script>
    {% else %}
    <script src="/x/home.js" type="text/javascript"></script>
    {% endif %}
  </head>
  <body class="tundra layoutNormal" lang="{{ locale }}">
    <table id="screen">
      <tbody><tr>
        <td class="collections">
          <h1 class="s">{{"visu.themes"|trans}}</h1>
          <div class="area">
          {% for category in categories %}
            <div dojoType="dijit.TitlePane" title="{{ category.title }}" open="false">
              <!--h2>{{ category.title }}</h2-->
              <ul>
                {% for icoll in category.collections %}
                <li>
                  {% if icoll.hasComment %}
                    <div class="bulle"><a href="{{ path('aire_collection_visu_i18n', { 'id': icoll.id }) }}#comment">&nbsp;&nbsp;&nbsp;</a></div>
                  {% endif %}
                  <a href="{{ path('aire_collection_visu_i18n', { 'id': icoll.id }) }}">{{ icoll.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
          </div>
          <div class="bottom"></div>
        </td>
        <td class="homeContent">
          <h1 class="s"></h1>
          <div class="area">
            <iframe id="contentFrame" src="/data/home/index.{{locale}}.php"></iframe>
            <!-- % autoescape false % -->
            <!-- { content } -->
            <!-- % endautoescape % -->
          </div>
          <div class="bottom">
            <a href="mailto:carto@ums-riate.fr">@ {{"visu.contactUs"|trans}}</a>
          </div>
        </td>
      </tr></tbody>
    </table>
  </body>
</html>
