<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>AIRE - {{ collection.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    {% if env == "dev" %}
    <link rel="stylesheet" type="text/css" href="/lib/aire/style/visu.css"/>
    {% else %}
    <link rel="stylesheet" type="text/css" href="/x/aire/style/visu.css"/>
    {% endif %}
    <script type="text/javascript">
      var djConfig = { locale: '{{ locale }}' };
    </script>
    <script src="/x/dojo/dojo.js" type="text/javascript"></script>
    {% if env == "dev" %}
    <script src="/lib/aire/start/collection.js" type="text/javascript"></script>
    {% else %}
    <script src="/x/collection.js" type="text/javascript"></script>
    {% endif %}
    <script type="text/javascript">
      window.aireCollection = {{ collection_json|raw }};
    </script>
  </head>
  <body class="tundra layoutNormal{% if not comment %} noComment{% endif %}" lang="{{ locale }}">
    <table id="screen">
      <tbody><tr>
        <td class="collections">
          <h1 class="s">{{"visu.themes"|trans}}</h1>
          <div class="area">
          {% for category in categories %}
            <div dojoType="dijit.TitlePane" title="{{ category.title }}" open="{% if category.id == collection.category.uuid %}true{% else %}false{% endif %}">
              <ul>
                {% for icoll in category.collections %}
                <li>
                  {% if icoll.id == collection.uuid %}
                    {% if icoll.hasComment %}
                    <div class="bulle"><a href="#comment">&nbsp;</a></div>
                    {% endif %}
                    <b>{{ icoll.title }}</b>
                  {% else %}
                    {% if icoll.hasComment %}
                      <div class="bulle"><a href="{{ path('aire_collection_visu_i18n', { 'id': icoll.id }) }}#comment">&nbsp;&nbsp;&nbsp;</a></div>
                    {% endif %}
                    <a href="{{ path('aire_collection_visu_i18n', { 'id': icoll.id }) }}">{{ icoll.title }}</a>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
          <!--div dojoType="geonef.ploomap.tool.Layers" mapWidget="map"></div-->
          </div>
          <div class="commentSmall">
            {% autoescape false %}
            {{ comment }}
            {% endautoescape %}
          </div>
          <div class="bottom">
            <a href="#comment">{{"visu.comment.show"|trans}}</a>
          </div>
        </td>
        <td class="comment">
          <h1 class="s">{{"visu.comment.title"|trans}}</h1>
          <div class="area">
            {% autoescape false %}
            {{ comment }}
            {% endautoescape %}
          </div>
          <div class="bottom">
            <a href="#map">{{"visu.comment.hide"|trans}}</a>
          </div>
        </td>
        <td class="map">
          <h1 class="s">{{ collection.title }}</h1>
          <div dojoType="aire.Map" id="map" class="area"></div>
          <div class="bottom">
            <div id="scale"></div>
            <div id="toolbar"></div>
          </div>
        </td>
        <td class="help">
          <h1 class="s">{{"visu.help.title"|trans}}</h1>
          <div class="area">
            <iframe id="helpFrame" src="about:blank"></iframe>
          </div>
          <div class="bottom">
            <a href="#map">{{"visu.help.hide"|trans}}</a>
          </div>
        </td>
        <td class="reprs">
          <h1 class="s"><a href="#help/representations.php">{{"visu.repr.title"|trans}}</a></h1>
          <div class="area">
            <div dojoType="dijit.layout.AccordionContainer"
                 region="right" doLayout="true" class=""
                 style="width:220px;">
              {% for reprName, repr in maps %}
              <div dojoType="dijit.layout.ContentPane" title="{{ ("visu.repr.reprLabels."~reprName)|trans }}">
                <h2>{{ ("visu.repr.reprTitles."~reprName)|trans }}</h2>
                {% for level, map in repr %}
                <button dojoType="aire.button.ShowMap" mapWidget="map"
                        level="{{ level }}" map="{{ map.id }}"></button>
                {% endfor %}<br/>
                <p class="reprSummary">
                  <img src="/images/aire/repr/{{ reprName }}.png"
                       alt="{{ reprName }}"/>
                  {{ ("visu.repr.reprDescriptions."~reprName)|trans }}
                  <span class="help"
                        onclick="aire.app.showHelp('representations.{{locale}}.php#{{ reprName }}') && undefined">[{{"visu.repr.readMore"|trans}}]</span>
                </p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="bottom">
            <a href="http://www.ums-riate.fr/" target="_blank"
               ><img src="/images/aire/logo.gif" alt="UMS RIATE - Carto"/></a>
            <div dojoType="geonef.ploomap.tool.OverviewMap"
                 mapWidget="map" copyLayer="__base__" showOptionButton="false"
                 __layerOptions="{maxResolution:35420,minScale:null,maxScale:null,minResolution:null,resolutions:null,scales:null}"
                 __mapOptions="{maxResolution:'auto',minScale:null,maxScale:null,minResolution:null,resolutions:null,scales:null,resolution:null}"
                 __maxResolution="auto"
                 autoPan="true"
                 delta="10"
                 class="overview"></div>
          </div>
        </td>
      </tr></tbody>
    </table>
  </body>
</html>
