<div class="jigCacoin ploomapToolLayerLibrary">
  <div dojoType="dijit.layout.TabContainer" dojoAttachPoint="tabContainer"
       doLayout="true" tabStrip="true" useSlider="false" useMenu="false"
       style="width:380px;height:340px">

    <div dojoType="dijit.layout.ContentPane" title="Souterrains"
         dojoAttachPoint="standardPane">
      <h1>Couches vecteur</h1>
      <div dojoType="ploomap.tool.layerLibrary.AutoGrid"
           filterProp="collection"
           filterValue="underground-vector"
           gridNbColumns="4" gridFillDummy="true"
           mapGetterWidget="${id}"></div>
      <h1>Fonds de carte</h1>
      <div dojoType="ploomap.tool.layerLibrary.AutoGrid"
           filterProp="collection"
           filterValue="underground-baseMap"
           gridNbColumns="4" gridFillDummy="true"
           mapGetterWidget="${id}"></div>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Divers"
         dojoAttachPoint="standardPane">
      <div dojoType="ploomap.tool.layerLibrary.AutoGrid"
           filterProp="provider"
           filterValue="cartapatate"
           gridNbColumns="4" gridFillDummy="true"
           mapGetterWidget="${id}"></div>
    </div>
    <div dojoType="dijit.layout.ContentPane" title="Externe">
      <button dojoType="jig.button.TooltipWidget"
              childWidgetClass="ploomap.tool.WmsCapabilities"
              childWidgetParams="{mapGetterWidget:'${id}'}"
              label="Service WMS"></button>
    </div>
  </div>
</div>
