body {
margin: 0px;
background: #ffffff;
}

a   {color:#1A86C4;text-decoration:none;font-family: Verdana;font-size: 11px; }
a:hover   {color:#FF9900;text-decoration:underline;}


a.lien_survey   {color:red;text-decoration:none;font-family: Verdana;font-weight:bold;font-size: 18px; }
a.lien_survey:hover   {color:red;text-decoration:underline;}

img {
border-width : 0;
border : 0;
}

.top {
margin: 0px 0px 0px 0px;
font-style : bold;
font-size : 20px;
text-align: left;
color: #218BBF;
height:30px;
}

.text_table{
color:#218BBF;
font-size : 12px;
}


.language {
margin-top: 10px;
text-align: center;
font-style: italic;
font-size : 10px;
color: #7B7C7E;
}

.questionnaire {
margin-top: 10px;
text-align: center;
font-style: italic;
font-size : 14px;
color: red;
}

.close { position : absolute; top: 0; right: 0; margin: 5px; }

.content{
margin: 15px 5px 5px 5px;
padding-right: 12px;
height:422px;
border: none;
overflow: auto;
font-size : 12px;
text-align: justify;
color: #7B7C7E;
}

.intro{
margin: 0px;
border: none;
font-size : 10px;
text-align: left;
color: #7B7C7E;
}

.title{
margin: 15px 0px 0px 0px;
font-style : bold;
font-size : 17px;
text-align: left;
color: #218BBF;
text-decoration: underline overline;
}

.title2{
margin: 15px 0px 0px 0px;
font-style : bold;
font-size : 17px;
text-align: left;
color: #218BBF;
text-decoration: underline;
}


/* glossaire */

h1 { font-style : bold; font-size : 20px; text-align: left; color: #218BBF; height:30px; }
dt { font-style : bold; font-size : 17px; color: #218BBF; background: url(images/puce.png) no-repeat 0 50%; padding: 3px 3px 3px 15px; margin: 5px 10px; }
dd { margin-bottom: 20px; font-size: 12px; }


